#questionBankPage{
    .ant-pro-card .ant-pro-card-body {
        display: block;
        box-sizing: border-box;
        height: 10%;
        padding-inline: 24px;
        padding-block: 16px;
    }
}
